:root {
    /* === Colors === */
    --primary-color: rgb(87, 0, 87);
    --secondary-color: rgb(145, 0, 145);
    --text-color: rgb(226, 226, 226);
}

.main {
    background-color: var(--primary-color);
}

.up-navigare.row.navbar {
    background-color: var(--primary-color);
    height: 100px;
}

.file-form select {
    background-color: var(--secondary-color);
}

.text {
    color: var(--text-color);
    text-decoration: none;
}

.text * {
    color: var(--text-color);
    text-decoration: none;
}

.panel {
    background-color: var(--primary-color);
}

.menu .card {
    background-color: var(--secondary-color);
    line-height: 1.2;
}

.sidemenu * {
    background-color: inherit;
}

.sidemenu .list-group {
    background-color: var(--secondary-color);
}

.sidemenu .card,
.sidemenu .card .card-body {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 4px;
}

.sidemenu .text {
    font-size: 14px;
}

.infotable-col {
    background-color: darkgreen;
}