<ul class="list-group">
    <li class="list-group-item"><a class="text" href="#">Медицинская карта</a></li>
    <li class="list-group-item"><a class="text" href="#">Генетика</a></li>
    <li class="list-group-item"><a class="text" href="#">Биомаркеры</a></li>
    <li class="list-group-item"><a class="text" href="#">Аналитика</a></li>
    <li class="list-group-item"><a class="text" href="#">Мессенджер</a></li>
    <li class="list-group-item"><a class="text" href="#">Документы</a></li>
    <li class="list-group-item"><a class="text" href="#">Финансы</a></li>
    <li class="list-group-item"><a class="text" href="#">Настройка кабинета</a></li>
</ul>