<div class="card my-3">
    <div class="card-body">
        <h5 class="card-title text">Конвертер ДНК в PDF</h5>
        <p class="card-text text">ДНК паспорт репродуктивного здоровья является медицинским
            документом, содержит данные генетического анализа. Отчёт включают информацию о
            пациенте, о выявленных патогенных вариантах, их интерпретацию, методологию, качество
            данных, ссылки на литературные источники и базы данных.</p>
        <a href="#" class="card-link text">Открыть страницу »</a>
    </div>
</div>